.avatar{
 display: flex;
 margin-top: 2%;
 margin-left: 2%;
 gap:10px;
}
.picsize{
    border: 2px solid grey;
    border-radius: 50%;  
    height:50px;
    width:50px;
    object-fit: cover;

}

.tweetpicsize{
  height:75px;
    width:75px;
    object-fit: cover;
}
.hidden{
    display:none;
    margin-left:2%;
    position:absolute;
    top:2%;
    
}

.avatar:hover + .hidden{
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display:block;
    
}

    
@-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(80px);
              transform: translateY(80px);
    }
  }