.avatar {
  display: flex;
  margin-top: 15px;
  margin-left: 2%;
  gap: 10px;
}
.picsize {
  border: 2px solid grey;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.tweetpicsize {
  height: 75px;
  width: 75px;
  object-fit: cover;
}
