.avatar {
  display: flex;
  margin-top: 15px;
  margin-left: 2%;
  gap: 10px;
  padding-bottom: 20px;
  align-items: center;
}
.picsize {
  border: 2px solid grey;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.tweetpicsize {
  border-radius: 25px;
  width: 200px;
  object-fit: cover;
}
.nompersonne {
  color: #45f3ff;
}
