.blockpost {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 10%;
  justify-content: center;
  gap: 15%;
}
.poststyle {
  margin-left: 10%;
  margin-top: 50px;
  text-align: center;
  width: 40%;
  height: 1%;
  border: 2px solid grey;
}

.filterstyle {
  top: 55%;
  left: 15%;
  padding: 15px;
  width: 100px;
  gap: 10px;
  position: fixed;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gap {
  margin-bottom: 15px;
  margin-top: 10px;
}
.bordertop {
  border-top: 2px solid grey;
  padding-bottom: 10px;
}
.bordertop:first-child {
  border-top: none;
}

.tweetblock {
  display: flex;
  justify-content: center;

  margin-top: 5%;

  padding: 30px;
  text-align: center;
}
